body {
  background-image: url("/images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.mainDiv {
  position: relative;
}

.navBar {
  width: 80pc;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.logo {
  width: 125px;
  height: 50px;
  margin: 20px 50px;
  }

.navBar ul {
  flex: 1;
  text-align: right;
}

.navBar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.navBar ul li a {
  color: white;
  text-decoration: none;
}

.mainHeading {
  text-align: center;
  position: relative;
  top: 5pc;
}

.courseDetails {
  display: flex;
  position: relative;
}

.contents {
  width: 22pc;
  position: relative;
  top: 5pc;
  left: 4pc;
}

.faculty {
  position: relative;
  width: 10pc;
  top: 5pc;
  right: -43pc;
}

.footer {
  text-align: center;
  position: relative;
  top: 8pc;
}

.footer a {
  color: lawngreen;
}