body {
  background-image: url("/images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.mainDiv {
  position: absolute;
}

.mainHeading {
  text-align: center;
  width: max-content;
  position: absolute;
  top: 5pc;
  left: 36pc;
}

.courseDetails {
  display: flex;
}

.contents {
  position: absolute;
  width: 20pc;
  top: 10pc;
  left: 5pc;
}

.faculty {
  position: absolute;
  width: 10pc;
  top: 10pc;
  left: 65pc;
}

.footer {
  text-align: center;
  width: max-content;
  position: absolute;
  left: 28.5pc;
  top: 33pc;
}

.footer a {
  color: lawngreen;
}