body {
  background-image: url("/images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  color: white;
}

.mainHeading {
  text-align: center;
  position: 50px;
  padding-top: 4pc;
}

.courseDetails {
  display: flex;
}

.contents {
  padding-left: 1pc;
  width: 30%;
  height: 60%;
}

.faculty {
  padding-left: 40pc;
  
}

.footer {
  text-align: center;
  padding-top: 4pc;
}

.footer a {
  color: lawngreen;
}